set colored-stats                on
set bell-style                   none
set completion-ignore-case       off
set completion-map-case          on
set horizontal-scroll-mode       on
set mark-symlinked-directories   on
set menu-complete-display-prefix on

"\C-x\"": "\"\"\C-b"
"\C-x'": "''\C-b"
"\C-x.": "\C-k\C-ucd ..\nc\n"
"\C-xh": "\C-k\C-ucd\nc\n"

# git-specific stuff
"\C-gg": "\C-k\C-uclone\n"
"\C-gs": "\C-k\C-ugit status\n"
"\C-gl": "\C-k\C-ugit log\n"
"\C-ga": "\C-k\C-ugit add "
"\C-gc": "\C-k\C-ugit commit\n"
"\C-gp": "\C-k\C-ugit push\n"
